@media only screen and (max-width: 768px) {
    .contentBox{
    	min-height: 625px;
    }
}

#logo{
	max-height: 275px;
	max-width: 196px;
}

#Register{
	display: none;
}

#login-fail{
	display: none;
}

.accountLink{
	cursor: pointer;
}

.accountLink:hover{
	color: rgb(33,150,243);
}

.buttons{
	margin-top: 3px;
}

.contain{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	/*background-image: url("https://drugcommon.com/assets/images/bg.png");*/
	background-image: url("/DrugComMonAdmin/assets/images/bg.png");
	background-size: cover;
}

.fields{
	height: 450px;
	overflow-y:scroll;
}

.contentBox{
	position: relative;
	margin: auto;
	display: block;
	padding: 10px;
	top: 50%;
	transform: translateY(-50%);
    max-width: 450px;
	max-height: 625px;
	box-shadow: 5px 5px 35px;
}

.contentBoxR{
	position: relative;
	margin: auto;
	display: inline-block;
	padding: 15px;
	top: 50%;
	transform: translateY(-50%);
    max-width: 40%;
	max-height: 60%;
	/*max-height: 740px;*/
	box-shadow: 5px 5px 35px;
	-webkit-transition: all .2s ease;  
	-moz-transition: all .2s ease;  
	-o-transition: all .2s ease;  
	-ms-transition: all .2s ease;  
	transition: all .2s ease;
}

.contentBoxR-hidden{
	opacity: 0;
	display: none;
	/*visibility: hidden;*/
}

.logobanner{
	width: 300px;
	height: 100px;
}

.loginf{
	margin-top: 20px;
}

#phTable{
	max-width: auto;
	max-height: 350px;
	overflow-y: auto;
	/*overflow-x: auto;*/
}